
.search-page-right-block-new
  @extend .search-page-right-block
  //display: flex
  //flex-direction: column
  overflow: hidden
  &.search-page-right-block-new--new
    left: $search-page-left-block-width-new


.catalog-header-holder
  position: absolute
  left: 0
  right: 0
  top: 0
  background-color: white

.search-page-right-block-new--mini-header-holder
  background-color: white
  position: absolute
  top: 0
  left: 0
  right: 0
  height: 40px
  border-bottom: 1px solid #ccc
  //pointer-events: none


.search-page-right-block-new--mini-header

  margin: 13px
  margin-left: 20px


.catalog-page-table-new
  @extend .catalog-page-table
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  //flex: 1
  overflow: hidden

  .catalog-page-table-new-row-even
    background-color: #FAFAFA
    border-top: 1px solid #BDBDBD
    &.catalog-page-table-new-row-even--hovered
      background-color: darken(#FAFAFA, 5%)
  .catalog-page-table-new-row-odd
    background-color: #FFFFFF
    border-top: 1px solid #BDBDBD
    &.catalog-page-table-new-row-odd--hovered
      background-color: darken(#FFFFFF, 5%)
  .catalog-page-table-new-row-border-line
    border-top: 3px solid red
