
.search-page-right-block-new
  @extend .search-page-right-block
  display: flex
  flex-direction: column
  overflow: hidden
.catalog-page-table-new
  @extend .catalog-page-table
  flex: 1
  overflow: hidden
  .public_fixedDataTableCell_main
    border: 0
  .fixedDataTableColumnResizerLine_main
    border: 0
  .fixedDataTableRow_fixedColumnsDivider
    border: 0
  .public_fixedDataTable_main
    border: 0