
.search-page-right-block-new
  @extend .search-page-right-block
  //display: flex
  //flex-direction: column
  overflow: hidden
.catalog-header-holder
  position: absolute
  left: 0
  right: 0
  top: 0

.catalog-page-table-new
  @extend .catalog-page-table
  position: absolute
  left: 0
  top: 0
  right: 0
  bottom: 0
  //flex: 1
  overflow: hidden
  .public_fixedDataTableCell_main
    border: 0
  .fixedDataTableColumnResizerLine_main
    border: 0
  .fixedDataTableRow_fixedColumnsDivider
    border: 0
  .public_fixedDataTable_main
    border: 0