<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <title>Recommendation service admin interface</title>

    <meta name="viewport" content="width=device-width, user-scalable=no">
    
    <!--link href='http://fonts.googleapis.com/css?family=Roboto:400,700&subset=latin,cyrillic' rel='stylesheet' type='text/css'-->    
    
    <link rel="icon" type="image/svg+xml" href="/icons/marker3.png?v=3">
    <!--link rel="shortcut icon" href="/icons/Favicon_32px.png"-->
    <!--link rel="stylesheet" href="/lcss/dev_sass_d2.css"-->
    
    <!--слить все шиты в один -->

    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    
    <link rel="stylesheet" type="text/css" href="/icons/icon-font/flaticon.css"> 

    <link rel="stylesheet" href="/lcss/dev_sass_d2.css">


  </head>
<!--иначе карта глючит - если драг будет нужен перенести на элемент карты или выше и проверить сто раз-->  
<body ondragstart="return false;">

