.drop-down, .drop-up {
  position : relative;
}
.drop-down-list {
  position : absolute;
  right : 0;
  padding: 0;
  border-radius: 0 0 6px 6px;
  border: 1px solid #b8b8b8;
  box-shadow: 0 0 6px -1px rgba(0,0,0,0.3);
  background-color: white;
  z-index: 2;
  outline: none;
}
.drop-down-list li + li, .drop-up-list li + li {
  border-top: 1px solid #e0e0e0;
}
.drop-down-list:before {
  position: absolute;
  top: -7px;
  right: 30px;
  width: 12px;
  height: 12px;
  background: white;
  content: '';
  transform: rotate(45deg);
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: #b8b8b8;
}
.drop-down-list a, .drop-up-list li{
  text-decoration: none;
  border-bottom: 0;
  padding: 5px 10px;
  display : inline-block;
  width: 100%;
}


.drop-up-list {
  position: absolute;
  bottom: 15px;
  left: -20px;
  padding: 0;
  border-radius: 6px 6px 0 0;
  border: 1px solid #b8b8b8;
  box-shadow: 0 0 6px -1px rgba(0, 0, 0, 0.3);
  background-color: white;
  z-index: 2;
  outline: none;
}

.drop-up-list:before {
  position: absolute;
  bottom: -7px;
  left: 30px;
  width: 12px;
  height: 12px;
  background: white;
  content: '';
  transform: rotate(-135deg);
  border-top: 1px solid;
  border-left: 1px solid;
  border-color: #b8b8b8;
}


.pagination > * {
  display: inline-block;
  color: #2a2a2a;
  padding: 5px 0;
  width: 30px;
  text-align: center;
  vertical-align: middle;
}
.pagination .arrow {
  padding: 8px 0;
  font-size: 10px;
  border: 1px solid #C3C2C2;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.4);
}
.pagination .arrow.right {
  border-radius: 0 3px 3px 0;
  border-left: 0;
}

.pagination .arrow.disabled {
  box-shadow: none;
  color: #d2d2d2;
  border-color: #E0E0E0;
}
.pagination .arrow.left {
  border-radius: 3px 0 0 3px;
  margin-left : 20px;
}
.pagination .active {
  padding: 4px 0;
  border: 1px solid #C3C2C2;
  box-shadow: inset 3px 3px 5px -3px rgba(0, 0, 0, 0.4);
  border-radius: 2px;
  background: #ececec;
}

.slider-table {

}
.slider-table-marker {
  background: #f6d000;
  background: -moz-linear-gradient(top,  #f6d000 0%, #ffba00 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6d000), color-stop(100%,#ffba00));
  background: -webkit-linear-gradient(top,  #f6d000 0%,#ffba00 100%);
  background: -o-linear-gradient(top,  #f6d000 0%,#ffba00 100%);
  background: -ms-linear-gradient(top,  #f6d000 0%,#ffba00 100%);
  background: linear-gradient(to bottom,  #f6d000 0%,#ffba00 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d000', endColorstr='#ffba00',GradientType=0 );
  width: 9px;
  height: 18px;
  border-radius: 2px;
  display: inline-block;
  position : relative;
  vertical-align: bottom;
}
.slider-table-marker:after {
  position: absolute;
  content: '';
  width: 5px;
  height: 5px;
  background: #FFC600;
  display: inline-block;
  transform: rotate(45deg);
  bottom: -2px;
  left: 2px;
}