.show-leave {
  opacity: 1;
  max-height: 156px;
  overflow: hidden;
  transition: all .2s linear;
}

.show-leave.show-leave-active {
  max-height: 0px;
  opacity: 0.00;
}
.show-enter {
  max-height: 0px;
  opacity: 0.00;

  overflow: hidden;
  transition: all .2s linear;
}

.show-enter.show-enter-active {
  max-height: 156px;
  opacity: 1;
}