@font-face {
	font-family: "Flaticon";
	src: url("flaticon.eot");
	src: url("flaticon.eot#iefix") format("embedded-opentype"),
	url("flaticon.woff") format("woff"),
	url("flaticon.ttf") format("truetype"),
	url("flaticon.svg") format("svg");
	font-weight: normal;
	font-style: normal;
}
i[class^="flaticon-"],[class^="flaticon-"]:before, [class*=" flaticon-"]:before {
	font-family: Flaticon;
  display: inline-block;
  font-style: normal;
}

.flaticon-plus:before {
   content: "\e000";
 }
.flaticon-left:before {
  content: "\e001";
}
.flaticon-top:before {
  content: "\e002";
}
.flaticon-close:before {
  content: "\e003";
  cursor: pointer;
}
.flaticon-close:hover:before {
	content: "\e003";
  color: #ba3333;
}
.flaticon-clear:before {
  content: "\e004";
}
.flaticon-mail:before {
  content: "\e005";
}
.flaticon-minus:before {
  content: "\e006";
}
.flaticon-send:before {
  content: "\e007";
}
.flaticon-edit:before {
    content: "\e008";
}
.flaticon-right:before {
    content: "\e009";
}
.flaticon-power:before {
    content: "\e00a";
}
.flaticon-bottom:before {
    content: "\e00b";
}
.flaticon-phone:before {
    content: "\e00c";
}
.flaticon-thumbsb:before {
    content: "\e00d";
}
.flaticon-thumbsu:before {
    content: "\e00e";
}
.flaticon-calendar:before {
    content: "\e00f";
}
