.z-depth1 {box-shadow: 0 1px 2px rgba(0,0,0,0.12),0 1px 4px rgba(0,0,0,0.24);}

.z-depth1h {box-shadow: 0 1px 2px rgba(0,0,0,0.12),0 1px 4px rgba(0,0,0,0.24);}
.z-depth1h:hover {box-shadow: 0 2px 4px rgba(0,0,0,0.12),0 2px 8px rgba(0,0,0,0.24);}