.w47pr { width : 47%; }
.w48pr { width : 48%; }
.w49pr { width : 49%; }
.w98pr { width : 98%; }
.w99pr { width : 99%; }
@for $i from 0 through 50 {
  $v: $i * 2;
  .w#{$v}pr {width: percentage($v / 100);}
}
$width_size_list : (20,25,30,35,40,45,50,55,60,70,80,90,95,100,110,120,130,140,150,160,170,180,190,200,210,250,300,400,500,600,700);
@each $size in $width_size_list {
  .w#{$size}px {width: #{$size}px;}
}
$min_width_size_list : (40,50,60,70,80,90,100,110,120,130,140,150,160,170,180,190,200,210,250);
@each $size in $min_width_size_list {
  .mw#{$size}px {min-width: #{$size}px;}
}
@for $i from 0 through 50 {
  $v: 500 + $i * 10;
  .Mw#{$v}px {max-width: #{$v}px;}
}
$height_size_list : (10,14,15,20,25,30,35,40,50,60,70,80,90,100,110,120,125,130,140,150,200,300,400,500,600,700);
@each $size in $height_size_list {
  .h#{$size}px {height: #{$size}px;}
  .Mh#{$size}px {max-height: #{$size}px;}
}
