.price-slider
  .pos-abs
    position: absolute
  .pos-rel
    position: relative
  .inl-block
    display: inline-block

  .h-30px
    height: 30px


  .pl-5px
    padding-left: 5px

  .mr-40px
    margin-right: 40px
  .pl-5px
    padding-left: 5px
  .cur-pointer
    cursor: pointer
  .ta-center
    text-align: center
  .nowrap
    white-space: nowrap

  .-background-line
    left: -4px
    right: -4px
    top: 24px
    height: 6px
    border: 1px solid rgb(140, 108, 200)
    border-radius: 3px
    background: #aa93cd
    background: -moz-linear-gradient(top,  #aa93cd 0%, #baafcc 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#aa93cd), color-stop(100%,#baafcc))
    background: -webkit-linear-gradient(top,  #aa93cd 0%,#baafcc 100%)
    background: -o-linear-gradient(top,  #aa93cd 0%,#baafcc 100%)
    background: -ms-linear-gradient(top,  #aa93cd 0%,#baafcc 100%)
    background: linear-gradient(to bottom,  #aa93cd 0%,#baafcc 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#aa93cd', endColorstr='#baafcc',GradientType=0 )

  .-from-title
    left: -4px
    top: 40px
  .-to-title
    right: -8px
    top: 35px
    font-size: 22px

  .-thumb
  .-thumb-up-text
    font-size: 11px
    display: inline-block
    color: #d2d2d2
    margin-left: 3px
    margin-bottom: 3px

  .-thumb-down
  .-thumb-down-thumb
    background: #f6d000
    background: -moz-linear-gradient(top,  #f6d000 0%, #ffba00 100%)
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6d000), color-stop(100%,#ffba00))
    background: -webkit-linear-gradient(top,  #f6d000 0%,#ffba00 100%)
    background: -o-linear-gradient(top,  #f6d000 0%,#ffba00 100%)
    background: -ms-linear-gradient(top,  #f6d000 0%,#ffba00 100%)
    background: linear-gradient(to bottom,  #f6d000 0%,#ffba00 100%)
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d000', endColorstr='#ffba00',GradientType=0 )
    width: 12px
    height: 22px
    border-radius: 2px
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.5)
  .-thumb-down-text
    vertical-align: top
    font-size: 12px
    margin-left: 2px
    margin-top: 2px
    font-weight: bold

.price-slider
  .-thumb-down-thumb:after
    content: ''
    width: 7px
    height: 7px
    background: #FFC600
    display: inline-block
    margin-top: 18px
    transform: rotate(45deg)
    margin-left: 3px
    box-shadow: 1px 1px 1px -1px rgba(0,0,0,0.8)

  .drag-slider
    top: -16px

  .slider-border
    border: 1px solid #F1F0F0
    border-radius: 3px
    border-bottom: 0
    height: 40px
    margin-bottom: 40px
