
clear
clip
color

cursor
display
float
font
height

margin
opacity

outline
overflow
padding

position

visibility
width


.bb {border-bottom : ;}
.bgc {background-color : ;}
.bc {border-color : ;}
.bl {border-left : ;}
.bo {background-origin : ;}
.bgr {background-repeat : ;}
.br {border-radius : ;}
/*.bright {border-right : ;}*/
.bs {border-style : ;}
.bshad {box-shadow : ;}
.bt {border-top : ;}
.bw {border-width : ;}
.ff {font-family : ;}
.fs {font-size : ;}
.fst {font-style : ;}
.fw {font-weight : ;}
.lh {line-height : ;}
.ls {letter-spacing : ;}
.mb {margin-bottom : ;}
.maxh {max-height : ;}
.minh {min-height : ;}
.ml {margin-left : ;}
.mr {margin-right : ;}
.mt {margin-top : ;}
.maxw {max-width : ;}
.minw {min-width : ;}
.pb {padding-bottom : ;}
.pl {padding-left : ;}
.pr {padding-right : ;}
.pt {padding-top : ;}
.ta {text-align : ;}
.td {text-decoration : ;}
.ti {text-indent : ;}
.tshad {text-shadow : ;}
.tt {text-transform : ;}
.va {vertical-align : ;}
.ww {word-wrap : ;}
.zi {z-index : ;}
