input[type=text],input[type=password] {
    padding: 10px 4px 8px 8px;
    /*font-size: 14px;*/
    border-radius: 2px;
    border: 1px solid #c1c1c1;
    box-shadow: inset 1px 1px 3px -1px rgba(0,0,0,0.2);
    box-sizing: border-box;
    height: 35px;
    color: #2a2a2a;
    background-color: white;
}
input:focus {
    outline: none;
    border: 1px solid #b7a6de;
}
button {
    
    padding: 0 18px;
    vertical-align: middle;
    border: 1px solid #eee;
    background: #fcfcfc;
    /*
    background: #fcfcfc;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZjZmNmYyIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmMmYyZjIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fcfcfc 0%, #f2f2f2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fcfcfc), color-stop(100%,#f2f2f2));
    background: -webkit-linear-gradient(top,  #fcfcfc 0%,#f2f2f2 100%);
    background: -o-linear-gradient(top,  #fcfcfc 0%,#f2f2f2 100%);
    background: -ms-linear-gradient(top,  #fcfcfc 0%,#f2f2f2 100%);
    background: linear-gradient(to bottom,  #fcfcfc 0%,#f2f2f2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fcfcfc', endColorstr='#f2f2f2',GradientType=0 );
    */
    color: #747474;
    cursor: pointer;
    outline: none;
}
button:hover {
    background: #fbfbfb;
    /*
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2ZiZmJmYiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNlMmUyZTIiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #fbfbfb 0%, #e2e2e2 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#fbfbfb), color-stop(100%,#e2e2e2));
    background: -webkit-linear-gradient(top,  #fbfbfb 0%,#e2e2e2 100%);
    background: -o-linear-gradient(top,  #fbfbfb 0%,#e2e2e2 100%);
    background: -ms-linear-gradient(top,  #fbfbfb 0%,#e2e2e2 100%);
    background: linear-gradient(to bottom,  #fbfbfb 0%,#e2e2e2 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fbfbfb', endColorstr='#e2e2e2',GradientType=0 );
    */
}
.autoparts button {
    height: 35px;
    font-size: 17px;
    padding: 0 18px;
    border: 0px;
    border-radius: 4px;
    background: #9f86da;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzlmODZkYSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM4OTZjYzgiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #9f86da 0%, #896cc8 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#9f86da), color-stop(100%,#896cc8));
    background: -webkit-linear-gradient(top,  #9f86da 0%,#896cc8 100%);
    background: -o-linear-gradient(top,  #9f86da 0%,#896cc8 100%);
    background: -ms-linear-gradient(top,  #9f86da 0%,#896cc8 100%);
    background: linear-gradient(to bottom,  #9f86da 0%,#896cc8 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#9f86da', endColorstr='#896cc8',GradientType=0 );
    color: #fff;
    box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.5);
}
.autoparts button:hover {

    background: #8e74cf;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzhlNzRjZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM3MTU2YjciIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #8e74cf 0%, #7156b7 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#8e74cf), color-stop(100%,#7156b7));
    background: -webkit-linear-gradient(top,  #8e74cf 0%,#7156b7 100%);
    background: -o-linear-gradient(top,  #8e74cf 0%,#7156b7 100%);
    background: -ms-linear-gradient(top,  #8e74cf 0%,#7156b7 100%);
    background: linear-gradient(to bottom,  #8e74cf 0%,#7156b7 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#8e74cf', endColorstr='#7156b7',GradientType=0 );
}
.autoparts button:active {
    background: #7456b8;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iIzc0NTZiOCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiM5ZTg1ZDkiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #7456b8 0%, #9e85d9 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7456b8), color-stop(100%,#9e85d9));
    background: -webkit-linear-gradient(top,  #7456b8 0%,#9e85d9 100%);
    background: -o-linear-gradient(top,  #7456b8 0%,#9e85d9 100%);
    background: -ms-linear-gradient(top,  #7456b8 0%,#9e85d9 100%);
    background: linear-gradient(to bottom,  #7456b8 0%,#9e85d9 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7456b8', endColorstr='#9e85d9',GradientType=0 );
    box-shadow: 1px 2px 4px 0px rgba(0,0,0,0.4) inset;
}
.autoservices button {
    height: 35px;
    font-size: 17px;
    border: 0px;
    padding: 0 18px;
    border-radius: 4px;
    background: #f6d61f;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y2ZDYxZiIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmZmI5MDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f6d61f 0%, #ffb900 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6d61f), color-stop(100%,#ffb900));
    background: -webkit-linear-gradient(top,  #f6d61f 0%,#ffb900 100%);
    background: -o-linear-gradient(top,  #f6d61f 0%,#ffb900 100%);
    background: -ms-linear-gradient(top,  #f6d61f 0%,#ffb900 100%);
    background: linear-gradient(to bottom,  #f6d61f 0%,#ffb900 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6d61f', endColorstr='#ffb900',GradientType=0 );
    color: #282a29;
    box-shadow: 1px 1px 3px -1px rgba(0,0,0,0.5);
}
.autoservices button:hover {
    background: #f7be00;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2Y3YmUwMCIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmM2ExMDAiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #f7be00 0%, #f3a100 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f7be00), color-stop(100%,#f3a100));
    background: -webkit-linear-gradient(top,  #f7be00 0%,#f3a100 100%);
    background: -o-linear-gradient(top,  #f7be00 0%,#f3a100 100%);
    background: -ms-linear-gradient(top,  #f7be00 0%,#f3a100 100%);
    background: linear-gradient(to bottom,  #f7be00 0%,#f3a100 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f7be00', endColorstr='#f3a100',GradientType=0 );
}
.autoservices button:active {
    background: #e69b01;
    background: url(data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiA/Pgo8c3ZnIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyIgd2lkdGg9IjEwMCUiIGhlaWdodD0iMTAwJSIgdmlld0JveD0iMCAwIDEgMSIgcHJlc2VydmVBc3BlY3RSYXRpbz0ibm9uZSI+CiAgPGxpbmVhckdyYWRpZW50IGlkPSJncmFkLXVjZ2ctZ2VuZXJhdGVkIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgeDE9IjAlIiB5MT0iMCUiIHgyPSIwJSIgeTI9IjEwMCUiPgogICAgPHN0b3Agb2Zmc2V0PSIwJSIgc3RvcC1jb2xvcj0iI2U2OWIwMSIgc3RvcC1vcGFjaXR5PSIxIi8+CiAgICA8c3RvcCBvZmZzZXQ9IjEwMCUiIHN0b3AtY29sb3I9IiNmOGQ1MjEiIHN0b3Atb3BhY2l0eT0iMSIvPgogIDwvbGluZWFyR3JhZGllbnQ+CiAgPHJlY3QgeD0iMCIgeT0iMCIgd2lkdGg9IjEiIGhlaWdodD0iMSIgZmlsbD0idXJsKCNncmFkLXVjZ2ctZ2VuZXJhdGVkKSIgLz4KPC9zdmc+);
    background: -moz-linear-gradient(top,  #e69b01 0%, #f8d521 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#e69b01), color-stop(100%,#f8d521));
    background: -webkit-linear-gradient(top,  #e69b01 0%,#f8d521 100%);
    background: -o-linear-gradient(top,  #e69b01 0%,#f8d521 100%);
    background: -ms-linear-gradient(top,  #e69b01 0%,#f8d521 100%);
    background: linear-gradient(to bottom,  #e69b01 0%,#f8d521 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e69b01', endColorstr='#f8d521',GradientType=0 );
    box-shadow: 2px 3px 4px -2px rgba(0,0,0,0.4) inset;
}
.stylized-select {
    display: inline-block;
    margin: 0px 10px;
    position: relative;
    cursor: pointer;
}

.stylized-select__dropdown {
    border-radius: 9px;
    border: 1px solid #dddddd;
    position: absolute;
    top: 30px;
    left: -55px;
    background: #fff;
    box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.1);
    width: 300px;
}
.stylized-select__dropdown:after {
    content: "";
    position: absolute;
    display: block;
    border-top: 1px solid #dddddd;
    border-right: 1px solid #dddddd;
    top: -8px;
    left: 60px;
    width: 14px;
    height: 14px;
    background: #fff;
    transform: rotate(-45deg);
}
.stylized-select__search {
    margin: 10px;
    border-radius: 3px;
    border: 1px solid #d2d2d2;

}
.stylized-select__search input {
    box-sizing: border-box;
    width: 100%;
    padding: 7px 30px 7px 9px;
    border: none;
    background: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAMCAYAAABiDJ37AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAO1JREFUeNqU078LAXEYx/FzYfNzk5TJaFNKYjFYSQZ/hvwBsvg1UCY2xT9gM8hukQGThWRjkcFw3pdnujhfT736Xn2fPvfc3fd07V0OFDDFAnM0ENYsZRiGLSc9OpqIYIA9fMhhjCrW2h9VlMlcH/aymMGtOqEugX08PwQucUZKdTozMIqdTc9WepQD7wjY9ARx+ydwhfyXfS+S0qMcOEQJGcueB3VccFINdMgal6NzkmPjRwJXxDBB7/2RDdtAp6wb+dpphHDASG5QQ0V6u2aoSqBZD/lDrNWRJynLK2qpBn4rc6K2XB9/Nb8EGABtf1thzY6X2AAAAABJRU5ErkJggg==') no-repeat scroll 100% 50% rgba(0, 0, 0, 0);
}
.stylized-select__list {
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    margin-bottom: 4px;
}
.stylized-select__list li{
    display: block;
    white-space: nowrap;
    padding: 5px 10px 7px 14px;
    margin: 0 2px;
    border-radius: 5px;
}
.stylized-select__list li:hover{
    background: #fdf3b3;

}

.stylized-select.select-dotted .stylized-select__select-text{
    border-bottom: 1px dotted;
    line-height: 1.2;
}
.stylized-input {
    /*font-size: 0px;*/
}
.stylized-input.text_btn input {
    border-right: 0px;
}
.stylized-input.text_btn button {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
   /* margin-left: -2px; */
}