.btn-close {
    background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22%26%23x421%3B%26%23x43B%3B%26%23x43E%3B%26%23x439%3B_1%22%0D%0A%09%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2013.436%2013.435%22%0D%0A%09%20style%3D%22enable-background%3Anew%200%200%2013.436%2013.435%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20style%3D%22fill%3A%23B5B5B5%3B%22%20points%3D%2213.436%2C1.532%2011.903%2C0%206.718%2C5.186%201.532%2C0%200%2C1.533%205.186%2C6.718%200%2C11.903%201.532%2C13.435%20%0D%0A%096.718%2C8.25%2011.902%2C13.435%2013.436%2C11.903%208.25%2C6.718%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 12px;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    background-position: 50%;
}
.btn-close:hover {
    background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22%26%23x421%3B%26%23x43B%3B%26%23x43E%3B%26%23x439%3B_1%22%0D%0A%09%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2013.436%2013.435%22%0D%0A%09%20style%3D%22enable-background%3Anew%200%200%2013.436%2013.435%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20style%3D%22fill%3A%23F92121%3B%22%20points%3D%2213.436%2C1.532%2011.903%2C0%206.718%2C5.186%201.532%2C0%200%2C1.533%205.186%2C6.718%200%2C11.903%201.532%2C13.435%20%0D%0A%096.718%2C8.25%2011.902%2C13.435%2013.436%2C11.903%208.25%2C6.718%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
}

.btn-icon {
  display : inline-block;
  vertical-align: middle;
  border-radius  : 3px;
  border         : 1px solid #c8c8c8;
  font-family    : 'Arial', serif;
  font-style     : normal;
  color          : #4d4d4d;
  width: 18px;
  height: 18px;
  cursor         : pointer;
  background     : #ffffff;
  box-sizing: content-box;
}
.btn-icon::before {
  width: 100%;
  height: 100%;
  align-items         : center;
  justify-content: center;
  display: flex;
}
.btn-icon:hover {
  color: #919191;
}
.btn-question::before {
content: '?';
  font-size: 14px;
}
.btn-plus-minus::before {
  font-size: 16px;
  font-family: 'Flaticon';
  content: '\e000';

}
.btn-plus-minus.active::before {
  font-family: 'Flaticon';
  content: "\e005";
}

.ReactModal__Overlay {
    z-index: 5;
    text-align: center;
}

.ReactModal__Overlay:before {
  content: '';
  display: inline-block;
  height: 100%;
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}



.ReactModal__Overlay {
    background-color: rgba(250, 250, 250, 0.75);
}
.ReactModal__Content {
  position: relative;
  display        : inline-block;
  vertical-align : middle;
  background     : #fff;
  overflow       : auto;
  border-radius  : 6px;
  outline        : none;
  padding        : 15px 50px;
  box-shadow     : 0px 0px 5px 1px rgba(0, 0, 0, 0.25);
}
.ReactModal__Content-close {
    position: absolute;
    top: 5px;
    right: 5px;
}
.ReactModal__Content h2 {
    text-transform: none;
    font-size: 24px;
}
.ReactModal__Content input {
    font-family: Arial;
}
.ReactModal__Content label {
    text-align: left;
    display: block;
    width: 100%;
    margin: 15px 0;
}
.ReactModal__Content label > span {
/*    font-size: 14px;
    display: block;
    margin: 6px 0;*/
}


.account-menu {
    padding: 0;
    margin: 0;
}
.account-menu li {
    display: inline-block;
    line-height: 3;
    margin-right: 25px;
    position: relative;
}
.account-menu .selected a{
    border: none;
    color: #3d3d3d;
    font-weight: bold;
    position: relative;
    left: -2px;
}
.account-menu li.selected:after {
    height: 12px;
    width: 12px;
    content: "";
    display: block;
    position: absolute;
    background: white;
    transform: translate(-50%,-50%) rotate(45deg);
    left: 50%;
    border-top: 1px solid #c8c8c8;
    border-left: 1px solid #c8c8c8;
    z-index: 2;
}

.your-manager img {
    width: 120px;
    height: 145px;
}
@media (max-width: 768px) {
    .ReactModal__Content {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        padding: 10px;
    }
}

.mui-snackbar {
    color: white;
    background-color: #323232;
    border-radius: 2px;
    padding: 0 24px;
    height: 48px;
    line-height: 48px;
    min-width: 288px;
    max-width: 568px;
    position: fixed;
    z-index: 10;
    bottom: 24px;
    margin-left: 24px;
    left: -10000px;
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 400ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.mui-snackbar .mui-snackbar-action {
    color: #ff4081;
    float: right;
    margin-top: 6px;
    margin-right: -16px;
    margin-left: 24px;
    background-color: transparent;
}
.mui-snackbar.mui-is-open {
    left: 0;
    opacity: 1;
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, -webkit-transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
    transition: left 0ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, opacity 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms, transform 400ms cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.show-by {
  display: inline-block;
  border: 1px solid #d2d2d2;
  border-radius: 2px;
}
.show-by > * {
  display: inline-block;
  color: #2a2a2a;
  padding: 5px 0;
  width: 32px;
  text-align: center;
}
.show-by .active {
  font-weight: bold;
  background: #ececec;
  box-shadow: 0 1px 3px -1px rgba(0,0,0,0.5) inset;
}
.show-by *:first-child.active {
  box-shadow: 3px 3px 3px -3px rgba(0,0,0,0.5) inset;
}
.show-by *:last-child.active {
  box-shadow: -3px 3px 3px -3px rgba(0,0,0,0.5) inset;
}

.search-table {
  width : 100%;
  table-layout: fixed;
}
.search-table th, .search-table td {
  font-weight: normal;
  font-size: 13px;
  padding : 10px 5px;
}
.search-table th:first-child, .search-table td:first-child {
  text-align: center;
}
.search-table td:first-child span.nap {
  color: #876bc7;
  border-bottom: 1px dotted;
  cursor: pointer;
}
.search-table td:first-child span.nas {
  color: #ffba00;
  border-bottom: 1px dotted;
  cursor: pointer;
}