.btn-close {
    background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22%26%23x421%3B%26%23x43B%3B%26%23x43E%3B%26%23x439%3B_1%22%0D%0A%09%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2013.436%2013.435%22%0D%0A%09%20style%3D%22enable-background%3Anew%200%200%2013.436%2013.435%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20style%3D%22fill%3A%23B5B5B5%3B%22%20points%3D%2213.436%2C1.532%2011.903%2C0%206.718%2C5.186%201.532%2C0%200%2C1.533%205.186%2C6.718%200%2C11.903%201.532%2C13.435%20%0D%0A%096.718%2C8.25%2011.902%2C13.435%2013.436%2C11.903%208.25%2C6.718%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
    width: 24px;
    height: 24px;
    display: inline-block;
    background-repeat: no-repeat;
    background-size: 12px;
    border-radius: 3px;
    border: 1px solid #d5d5d5;
    background-position: 50%;
}
.btn-close:hover {
    background-image: url(data:image/svg+xml,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%0D%0A%3C%21--%20Generator%3A%20Adobe%20Illustrator%2018.1.1%2C%20SVG%20Export%20Plug-In%20.%20SVG%20Version%3A%206.00%20Build%200%29%20%20--%3E%0D%0A%3Csvg%20version%3D%221.1%22%20id%3D%22%26%23x421%3B%26%23x43B%3B%26%23x43E%3B%26%23x439%3B_1%22%0D%0A%09%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2013.436%2013.435%22%0D%0A%09%20style%3D%22enable-background%3Anew%200%200%2013.436%2013.435%3B%22%20xml%3Aspace%3D%22preserve%22%3E%0D%0A%3Cpolygon%20style%3D%22fill%3A%23F92121%3B%22%20points%3D%2213.436%2C1.532%2011.903%2C0%206.718%2C5.186%201.532%2C0%200%2C1.533%205.186%2C6.718%200%2C11.903%201.532%2C13.435%20%0D%0A%096.718%2C8.25%2011.902%2C13.435%2013.436%2C11.903%208.25%2C6.718%20%22%2F%3E%0D%0A%3C%2Fsvg%3E%0D%0A);
}

.ReactModal__Overlay {
    -webkit-perspective: 600;
    perspective: 600;
    opacity: 0;
    z-index: 1;
}

.ReactModal__Overlay--after-open {
    opacity: 1;
    transition: opacity 150ms ease-out;
}

.ReactModal__Content {
    -webkit-transform: scale(0.5) rotateX(-30deg);
}

.ReactModal__Content--after-open {
    -webkit-transform: scale(1) rotateX(0deg);
    transition: all 150ms ease-in;
}

.ReactModal__Overlay--before-close {
    opacity: 0;
}

.ReactModal__Content--before-close {
    -webkit-transform: scale(0.5) rotateX(30deg);
    transition: all 150ms ease-in;
}

.ReactModal__Overlay {
    background-color: rgba(250, 250, 250, 0.75);
}
.ReactModal__Content {
    position: absolute;
    background: #fff;
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    border-radius: 6px;
    outline: none;
    padding: 15px 50px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    box-shadow: 0px 0px 5px 1px rgba(0,0,0,0.25);
}
.ReactModal__Content-close {
    position: absolute;
    top: 5px;
    right: 5px;
}
.ReactModal__Content h2 {
    text-transform: none;
    font-size: 24px;
    margin: 10px 0;
}
.ReactModal__Content input {
    width: 100%;
    font-family: Arial;
}
.ReactModal__Content label {
    text-align: left;
    display: block;
    width: 100%;
    margin: 10px 0;
}
.ReactModal__Content label span {
    font-size: 14px;
    display: block;
    margin: 6px 0;
}
.ReactModal__Content hr {
    position: absolute;
    width: 100%;
    left: 0;
    box-sizing: border-box;
    border-color: #c8c8c8;
    border-top: 0;
    border-left: 0;
    border-right: 0;
}
@media (max-width: 768px) {
    .ReactModal__Content {
        top: 10px;
        left: 10px;
        right: 10px;
        bottom: 10px;
        padding: 10px;
    }
}