html, body {
    height: 100%;
}


.ap-color {
    color: #b7a6de;
}
.as-color {
    color: #f6d600;
}

body > .wrapper {
    padding-top: 1px;
    min-height: 100%;
    margin-bottom: -65px;
}
.wrapper {
    box-sizing: border-box;
    width: 100%;
    max-width: 1200px;
    min-width: 1000px;
    margin: 0 auto;

    font-size: 14px;
    color: #313131;
}
html .wrapper {
    height: 100%;
}
h2 {
    font-size: 26px;
    text-transform: uppercase;
}

a.h_link,
a.h_link:link,
a.h_link:visited{
    color: #2a2a2a;
    text-decoration: none;
    border-bottom: 1px solid #353535;
    outline-style: none;
}
.autoparts a:link,
.autoparts a:visited,
a.ap-link {
    color: #5f40a7;
    text-decoration: none;
    border-bottom: 1px dotted;
}
.autoservices a:link,
.autoservices a:visited,
a.as-link{
    color: #ee6b01;
    text-decoration: none;
    border-bottom: 1px dotted;
}

/*a:hover,*/
.autoparts a:hover,
.autoservices a:hover,
a.h_link:hover,
a.ap-link:hover,
a.as-link:hover{
    color: #7948f1;
    border-bottom: 1px dotted #7948f1;
}
.no-href {
    font-size: 16px;
    color: #dddddd;
}
a.icon-link {
    border-bottom: 0px;
    margin: 0 5px;
}

.entire-width {
    font-family: inherit;
    text-align: center;

    display: -webkit-box; /* Android 4.3-, Safari без оптимизации */
    -webkit-box-pack: justify; /* Android 4.3-, Safari без оптимизации */
    display: -webkit-flex; /* оптимизация для Safari */
    -webkit-justify-content: space-between; /* оптимизация для Safari */
    display: flex;
    justify-content: space-between;
    text-align: justify; /* IE10-, Firefox 12-22 */
    text-align-last: justify; /* IE10-, Firefox 12-22 */

    /*text-justify: newspaper; /* IE7- */
    /*zoom: 1; /* IE7- */
}

.entire-width > div {
    display : inline-block;
    vertical-align: top;

    display: -webkit-box; /* !хак! для Android 4.3-, должен идти после inline-block */

    /*display: inline;  /* IE7- */
    /*zoom: 1; /* IE7- */
}
.header {
    margin: 15px 0;
    font-size: 14px;
}
.header-region img {
    vertical-align: middle;
}
.top-navbar {
    line-height: 1.5;
}
.top-navbar a {
    margin-left: 20px;
}

.big-logo {
    font-size: 96px;
    text-align: center;
    margin: 130px 0 40px;
}

.big-search-block > .big-search-block-block {
    display: table-cell;
    box-sizing: border-box;
    width: 49.5%;
    border-radius: 15px;
    text-align: left;
}
.big-search-block .autoparts{
    border: 4px solid #b7a6de;
    background: url('../images/templates/icon-gear.png') no-repeat -4px -3px ;
}
.big-search-block .autoservices {
    border: 4px solid #f6d600;
    background: url('../images/templates/icon-key.png') no-repeat -4px -3px ;
}
.big-search-block h2 {
    text-align: center;
    margin: 50px 0;
    letter-spacing: -0.5px;
    position: relative;
    height: 28px; /*у загружаемых шрифтов надо для элементов которые их содержат задавать высоту*/
}

.text-free-icon:after {
    display: none;
}

.big-search-block .autoservices .text-free-icon {
    position: relative;
}

.big-search-block .autoservices .text-free-icon:after {
    content: "";    
    background-image: url('data:image/svg+xml;charset=US-ASCII,%3C%3Fxml%20version%3D%221.0%22%20encoding%3D%22iso-8859-1%22%3F%3E%3Csvg%20version%3D%221.1%22%20id%3D%22%26%23x421%3B%26%23x43B%3B%26%23x43E%3B%26%23x439%3B_1%22%20%20xmlns%3D%22http%3A%2F%2Fwww.w3.org%2F2000%2Fsvg%22%20xmlns%3Axlink%3D%22http%3A%2F%2Fwww.w3.org%2F1999%2Fxlink%22%20x%3D%220px%22%20y%3D%220px%22%20viewBox%3D%220%200%2053%2025%22%20%20style%3D%22enable-background%3Anew%200%200%2053%2025%3B%22%20xml%3Aspace%3D%22preserve%22%3E%3ClinearGradient%20id%3D%22SVGID_2_%22%20gradientUnits%3D%22userSpaceOnUse%22%20x1%3D%222.7012%22%20y1%3D%2214.034%22%20x2%3D%2249.9512%22%20y2%3D%2214.034%22%3E%20%3Cstop%20%20offset%3D%220%22%20style%3D%22stop-color%3A%23919191%22%2F%3E%20%3Cstop%20%20offset%3D%221%22%20style%3D%22stop-color%3A%23DBDBDB%22%2F%3E%3C%2FlinearGradient%3E%3Cpath%20style%3D%22fill%3Aurl%28%23SVGID_2_%29%3B%22%20d%3D%22M12.034%2C3.784L12.034%2C3.784L3.106%2C13.04v0.027c-0.244%2C0.232-0.405%2C0.563-0.405%2C0.943%20c0%2C0.38%2C0.161%2C0.71%2C0.405%2C0.943v0.027l8.928%2C9.255v0.049h37.917v-20.5H12.034z%20M6.556%2C15.315c-0.652%2C0-1.18-0.574-1.18-1.281%20c0-0.708%2C0.528-1.281%2C1.18-1.281c0.652%2C0%2C1.18%2C0.574%2C1.18%2C1.281C7.736%2C14.742%2C7.207%2C15.315%2C6.556%2C15.315z%22%2F%3E%3Cpath%20style%3D%22fill%3A%23FF3837%3B%22%20d%3D%22M10.213%2C3.578L10.213%2C3.578l-9.002%2C9.928l0.002%2C0.027c-0.247%2C0.251-0.398%2C0.593-0.371%2C0.972%20c0.027%2C0.379%2C0.226%2C0.696%2C0.506%2C0.908l0.002%2C0.027l10.333%2C8.535l0.004%2C0.049l41.06-2.959L51.273%2C0.619L10.213%2C3.578z%20M5.109%2C15.507%20c-0.706%2C0.051-1.319-0.48-1.37-1.186c-0.051-0.706%2C0.48-1.319%2C1.186-1.37c0.706-0.051%2C1.319%2C0.48%2C1.37%2C1.186%20C6.346%2C14.843%2C5.815%2C15.456%2C5.109%2C15.507z%22%2F%3E%3Cg%3E%20%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M15.168%2C7.04l6.707-0.483l0.125%2C1.742l-4.587%2C0.331l0.231%2C3.208l4.277-0.308l0.125%2C1.741%20%20l-4.277%2C0.308l0.356%2C4.931l-2.121%2C0.153L15.168%2C7.04z%22%2F%3E%20%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M23.907%2C12.373c-0.082-1.138-0.157-1.947-0.263-2.702l1.845-0.133l0.185%2C1.598l0.068-0.005%20%20c0.328-1.22%2C1.267-1.894%2C2.165-1.958c0.207-0.015%2C0.329-0.006%2C0.503%2C0.016l0.144%2C2.001c-0.175-0.023-0.366-0.043-0.625-0.024%20%20c-1.017%2C0.073-1.66%2C0.778-1.781%2C1.74c-0.021%2C0.192-0.039%2C0.419-0.022%2C0.661l0.313%2C4.345l-2.122%2C0.153L23.907%2C12.373z%22%2F%3E%20%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M31.543%2C13.92c0.161%2C1.514%2C1.397%2C2.084%2C2.743%2C1.987c0.983-0.071%2C1.68-0.26%2C2.301-0.548l0.416%2C1.443%20%20c-0.704%2C0.345-1.688%2C0.642-2.895%2C0.729c-2.724%2C0.196-4.448-1.361-4.633-3.93c-0.168-2.328%2C1.088-4.619%2C3.778-4.813%20%20c2.724-0.196%2C3.783%2C1.98%2C3.916%2C3.825c0.029%2C0.397%2C0.016%2C0.71-0.004%2C0.902L31.543%2C13.92z%20M35.126%2C12.171%20%20c-0.038-0.778-0.475-2.029-1.889-1.927c-1.31%2C0.094-1.777%2C1.323-1.8%2C2.193L35.126%2C12.171z%22%2F%3E%20%3Cpath%20style%3D%22fill%3A%23FFFFFF%3B%22%20d%3D%22M40.441%2C13.279c0.161%2C1.514%2C1.398%2C2.084%2C2.743%2C1.987c0.983-0.071%2C1.68-0.26%2C2.3-0.548l0.416%2C1.443%20%20c-0.704%2C0.345-1.688%2C0.642-2.895%2C0.729c-2.724%2C0.196-4.448-1.361-4.633-3.93c-0.168-2.328%2C1.088-4.619%2C3.778-4.813%20%20c2.724-0.196%2C3.783%2C1.98%2C3.916%2C3.825c0.029%2C0.397%2C0.016%2C0.71-0.004%2C0.902L40.441%2C13.279z%20M44.024%2C11.53%20%20c-0.038-0.778-0.475-2.029-1.889-1.927c-1.31%2C0.094-1.777%2C1.324-1.8%2C2.193L44.024%2C11.53z%22%2F%3E%3C%2Fg%3E%3C%2Fsvg%3E');
    background-repeat: no-repeat;
    width: 53px;
    height: 28px;
    background-position: center;
    display: block;
    position: absolute;
    right: -60px;
    top: -10px;
}

.big-search-block .stylized-input.text_btn,
.big-search-block__hint {
    margin: 0 50px;
}

.big-search-block__hint {
    margin-top: 10px;
}

.big-search-block__description {
    margin: 15px;
    font-size: 11px;
    margin-top: 50px;
}
.footer {
    border-top: 1px solid #bfbfbf;
}
.footer i{
    font-size: 22px;
    vertical-align: middle;
}
.footer a {
    margin: 0 12px;
    /* font-size: 12px; */
}
.footer a.icon-link {
    margin: 0;
}
.copyright {
    color: #737373;
}