.account-statistics
  .chart-control-holder
    margin-top: 10px

  .svg-plot
    background-color: #f5f5f5

  .my-line-classname
    stroke-opacity: 0.9
    stroke-width: 1.4px
    stroke: #ff00ff
    &.hover
      stroke-opacity: 1
      stroke-width: 2px
  
  .my-line2-classname
    stroke-opacity: 0.9
    stroke-width: 1.4px
    stroke: #00ff00      
    &.hover
      stroke-opacity: 1
      stroke-width: 2px
      

  .hint-content      
    font-weight: normal
    min-width: 100px
    h3
      color: yellow
      margin: 0
      margin-bottom: 10px