//by define marker top left corner is placed at lat, lng position
//you need to change marker left top - it based on your marker design
.map-marker
  //$map-marker-width: 44px
  $map-marker-width: $mapMarker-width //from common_vars.json
  $map-marker-height: $mapMarker-height //from common_vars.json

  $map-marker-x-offset-delta: $mapMarker-offset //0.37 маркер не симмеричный
  $base-marker-scale: 1

  //@debug $map-marker-width

  @mixin map-marker-mixin($map-marker-scale)
    width: $map-marker-width * $map-marker-scale
    height: $map-marker-height * $map-marker-scale
    left:  -$map-marker-width * $map-marker-scale * $map-marker-x-offset-delta
    top: -$map-marker-height * $map-marker-scale

  @mixin marker-mixin($map-marker-scale)
    width: $map-marker-width * $map-marker-scale
    height: $map-marker-height * $map-marker-scale
    left:  0
    top: 0
    background-size: $map-marker-width * $map-marker-scale $map-marker-height * $map-marker-scale
    transform-origin: $map-marker-width * $map-marker-scale * $map-marker-x-offset-delta $map-marker-height * $map-marker-scale
    -webkit-transform-origin: $map-marker-width * $map-marker-scale * $map-marker-x-offset-delta $map-marker-height * $map-marker-scale

  @include map-marker-mixin($base-marker-scale)
  position: absolute
  cursor: pointer

  &.hint--bottom:before, .hint--bottom:after
    left: calc(50% - 12px)

  .map-marker__marker
    @include marker-mixin($base-marker-scale)
    position: absolute
    will-change: transform
    transition: transform 0.25s ease
    transition: transform 0.25s cubic-bezier(0.485, 1.650, 0.545, 0.835)
    &.map-marker__marker--ap
      background-image: url('../assets/icons/map_icons/map_icon_violet.svg')
      background-repeat: no-repeat
    &.map-marker__marker--as
      background-image: url('../assets/icons/map_icons/map_icon_yellow.svg')
      background-repeat: no-repeat


  .hint-content
    div
      &:first-child
        margin-bottom: 5px
  .ap-link
    color: #23546B
    font-size: 10px
    font-style: italic


