
.account-manage
  .-header
    font-size: 26px
    font-weight: bold

  .-button-group
    button
      //height: 28px
      padding: 5px


  

  .h-30px
    height: 30px
  .vm
    @include valign-middle()




