<!DOCTYPE html>
<!--[if lt IE 7 ]> <html lang="ru" class="ie6"> <![endif]-->
<!--[if IE 7 ]>    <html lang="ru" class="ie7"> <![endif]-->
<!--[if IE 8 ]>    <html lang="ru" class="ie8"> <![endif]-->
<!--[if IE 9 ]>    <html lang="ru" class="ie9"> <![endif]-->
<!--[if (gt IE 9)|!(IE)]><!--> <html lang="ru" class="noie"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    
    <title>Поисковая система АвтоГипер</title>

    <meta name="viewport" content="width=600, user-scalable=yes">
    <link rel="icon" href="/assets/images/icon_key.png?v=icon_key" type="image/x-icon">

    <meta name="Description" content="Автогипер - современная система поиска автосервисов и автозапчастей. Все автосалоны и автомастерские вашего города в одном месте."/>
    <meta name='yandex-verification' content='5c939cc659e330d6' />
    {{? it.config.kSTYLE_URL}}    
    <link rel="stylesheet" href="{{=it.config.kSTYLE_URL}}" />
    {{?}}
    <script>
        window.kSESSION_UUID = '{{=it.config.kSESSION_UUID}}';
    </script>
    <!-- Yandex.Metrika counter -->
    <script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript"></script>
    <script type="text/javascript">
      try { var yaCounter29408040 = new Ya.Metrika({id:29408040,
        webvisor:true});
      } catch(e) { }
    </script>
    <noscript><div><img src="//mc.yandex.ru/watch/29408040" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
    <!-- /Yandex.Metrika counter -->
    <!-- <script src="//api-maps.yandex.ru/2.1/?lang=ru_RU" type="text/javascript"></script> -->

  </head>

  <body ondragstart="return false;">
    <div id="react_main" class="main-view">
    </div>

    {{? it.config.kSCRIPT_COMMONS_URL}}
    <script defer src="{{=it.config.kSCRIPT_COMMONS_URL}}"></script>
    {{?}}
    <script defer src="{{=it.config.kSCRIPT_URL}}"></script>
  </body>
</html>
