/*
Правила моего Atomic'a
Селекторы располагаются по логическим блокам, а в них по алфавиту
Универсальные свойства(border, background) должны идти в начале файла, так как они будут перекрывать точные селекторы
Текстовые значения свойств устанавливаются через - (.f-l {float: left})
Цифровые значения свойств устанавливаются без разделителей (.p10 {padding: 10px})
Перечисление цифровых значений свойств разделяется - (.m10-10 {margin: 10px 10px})
Все свойства в которых нет указания сторон(left, right, top, bottom) пишутся с маленькой буквы (.d-b {display: block})
Свойства в которых встречаются указания сторон пишем с маленькой буквы, стороны в них - большими (.mR5 {margin-right: 5px})
У большинства универсальных свойств есть предустановленные размеры в 1px (.bb-s {border-bottom: 1px solid})
Селекторы которые имеют свойства с приставкой max- min- записываются с большой и маленькой буквы соответственно (.Mw100px {max-width: 100px} .mh200px {min-height: 200px})
*/
@import 'margin';
@import 'padding';
@import 'width_height';
@import 'border';
@import 'text';
@import 'position';
@import 'flex';
@import 'shadow';
@import 'color_palette'; //Должен находится ниже универсальных свойств

.bs-n {box-shadow: none;}
.tl-f {table-layout: fixed;}
.ws-p {white-space: pre;}

.bs { box-shadow : 0 0 5px rgba(0, 0, 0, 0.4); }
.cur-p { cursor : pointer; }
.d-b { display : block; }
.d-n { display : none; }
.d-ib { display : inline-block; }
.d-i { display : inline; }
.d-if { display : inline-flex; }
.d-f {
  display : -webkit-box;
  display : -moz-box;
  display : -ms-flexbox;
  display : -webkit-flex;
  display : flex;
}
.lst-s { list-style-type : square; }
.lst-c { list-style-type : circle; }
.lst-d { list-style-type : disc; }
.lst-n { list-style-type : none; }
.o-h { overflow : hidden; }
.o-v { overflow : visible; }
.o-a { overflow : auto; }
.o-n { outline : none; }
.v-h { visibility : hidden; }
.v-v { visibility : visible; }

.us-n {
  -webkit-user-select: none; /* user-select -- это нестандартное свойство */
  -moz-user-select: none;    /* поэтому нужны префиксы */
  -ms-user-select: none;
  -o-user-select: none; /* не поддерживается, просто на будущее */
}

@media (max-width : 1420px) {
  .M-d-n-1420 { display : none; }
}
@media (max-width : 1200px) {
  .M-d-n-1200 { display : none; }
  .M-fs14-1200 { font-size : 14px }
}

/*Хаки*/
/*Почему то в FF этот тег имеет ширину и из-за этого на 1 пиксель текст который разделяет БР становится длиньше
И в случае автоматического  подсчета ширины по содержимому наш блок ползет вниз
из-за нехватки места
*/
br {display: block;}