$color : (
  "deep-purple" : (
    "50"  : "#EDE7F6",
    "100" : "#D1C4E9",
    "200" : "#B39DDB",
    "300" : "#9575CD",
    "400" : "#7E57C2",
    "500" : "#673AB7",
    "600" : "#5E35B1",
    "700" : "#512DA8",
    "800" : "#4527A0",
    "900" : "#311B92"
  ),
  "yellow" : (
    "50"  : "#FFFDE7",
    "100" : "#FFF9C4",
    "200" : "#FFF59D",
    "300" : "#FFF176",
    "400" : "#FFEE58",
    "500" : "#FFEB3B",
    "600" : "#FDD835",
    "700" : "#FBC02D",
    "800" : "#F9A825",
    "900" : "#F57F17"
  ),
  "grey" : (
    "50"  : "#FAFAFA",
    "100" : "#F5F5F5",
    "200" : "#EEEEEE",
    "300" : "#E0E0E0",
    "400" : "#BDBDBD",
    "500" : "#9E9E9E",
    "600" : "#757575",
    "700" : "#616161",
    "800" : "#424242",
    "900" : "#212121"
  )
);
/*Цвет текста, фона, бордеров*/
@each $name, $map in $color {
  @each $brightnes, $color in $map {
    .bc-#{$name}-#{$brightnes} {
      border-color: #{$color};
    }
    .bgc-#{$name}-#{$brightnes} {
      background-color: #{$color};
    }
    .c-#{$name}-#{$brightnes} {
      color: #{$color};
    }
  }
}
