$padding_list : (5,8,10,15,20,25,30);
@each $size in $padding_list {
  .p#{$size} {
    padding: #{$size}px;
  }
}

.p0 { padding : 0; }

.p2-5 { padding : 2px 5px; }

.p0-5 { padding : 0 5px; }
.p0-10 { padding : 0 10px; }
.p0-15 { padding : 0 15px; }
.p0-20 { padding : 0 20px}

.p5-0 { padding : 5px 0px; }
.p5-10 { padding : 5px 10px; }
.p5-15 { padding : 5px 15px; }

.p10-0 { padding : 10px 0; }
.p10-5 { padding : 10px 5px; }
.p10-15 { padding : 10px 15px; }
.p10-20 { padding : 10px 20px; }

.p15-10 {padding: 15px 10px;}

.p20-0 { padding : 20px 0; }
.p20-5 { padding : 20px 5px; }
.p20-15 { padding : 20px 15px; }

.p8-2 { padding : 8px 2px; }
.p8-5 { padding : 8px 5px; }
.p8-10 { padding : 8px 10px; }
.p8-15 { padding : 8px 15px; }
.p8-20 { padding : 8px 20px; }
.p8-25 { padding : 8px 25px; }
.p8-30 { padding : 8px 30px; }

.T-p5-15 td {padding: 5px 15px;}

.p6-20-8 { padding : 6px 20px 8px; }
$one_side_padding_list : (5,8,10,15,20);
@each $size in $one_side_padding_list {
  .pB#{$size} {
    padding-bottom: #{$size}px;
  }
  .pL#{$size} {
    padding-left: #{$size}px;
  }
  .pR#{$size} {
    padding-right: #{$size}px;
  }
  .pT#{$size} {
    padding-top: #{$size}px;
  }
}

