.f-L { float : left; }
.f-R { float : right; }

.c-L {clear: left;}
.c-R {clear: right;}
.c-b {clear: both;}

.p-r { position : relative; }
.p-a { position : absolute; }
.p-f { position : fixed; }

.va-B { vertical-align : bottom; }
.va-b { vertical-align : baseline; }
.va-m { vertical-align : middle; }
.va-T { vertical-align : top; }