@import 'bourbon/bourbon'

@import 'common_vars.json'

@import 'values'
@import 'mixins/valign'

@import 'controls/typeahead'
@import 'controls/typeahead_scrollbar'
@import 'controls/yandex_map'
@import 'controls/pager_buttons'
@import 'controls/tables'
@import 'controls/fixed_tooltip'
@import 'controls/tooltip'
@import 'controls/btn_icons'


@import 'controls_customization/typeahead_auto_service'
@import 'controls_customization/typeahead_auto_part'
@import 'controls_customization/typeahead_scroll_custom'
@import 'controls_customization/typeahead_region_selector'

//pages
@import 'header'
@import 'footer'

@import 'default_page'
@import 'search_page'
@import 'search_page_auto_part_table'
@import 'search_page_autoservice_table'



//GLOBALS

//font reset ОБЯЗАТЕЛЕН! иначе на button Arial и нет antialias что бросается в глаза
//html, body, input, button, textarea
//  font: inherit
//  -webkit-font-smoothing: inherit


html, body, .main-view
  height: 100%
  margin: 0
  padding: 0


*
  box-sizing: border-box

body
  //font-family: helveticaneuecyrroman
  font-size: 14px
  color: #313131

a
  &,:visited
    text-decoration: none
    outline-style: none

.wrap
  > *
    font-size: 14px


.hfm-wrapper
  //max-width: 1200px
  //min-width: 900px
  width: 100%
  padding-left: 20px
  padding-right: 20px
  margin: 0 auto

.main-wrapper
  min-height: 100%
  padding: 0
  position: relative

.main-body
  margin-bottom: 0
  padding-bottom: $footer-height



.disable-pointer-events
  .stop-events  
    pointer-events: none
  .disable-events-on-map-move
    pointer-events: none

.noselect
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none



.height100
  height: 100%
.bgred
  background-color: red
.bred
  border: 1px solid red
