.react-autocomplete-Autocomplete
  width: 100%
  


.react-autocomplete-Autocomplete__search
  //border: 1px solid #aaa
  padding: 5px

.react-autocomplete-Autocomplete__search:focus
  outline: none


.react-autocomplete-Results
  z-index: 1000
  background: white
  border: 1px solid #aaa
  border-top: none
  width: 100%
  margin: 0
  margin-top: 30px
  max-height: 200px
  overflow: auto
  padding: 0


.react-autocomplete-Result
  margin: 0 !important
  padding: 5px 10px
  a
    color: gray



.react-autocomplete-Result--active
  background: #dadada

