.default-page
  min-height: 520px //меньше сжимать нельзя лого уползает

.default-page-abs
  position: absolute
  top: 0
  bottom: 0
  left: 0
  right: 0

.default-page-content
  position: absolute
  left: 50%
  top: 50%
  width: 100%
  transform: translate(-50%,-50%) translate(0,-20px)
  -webkit-transform: translate(-50%,-50%) translate(0,-20px)

.default-page-logo
  margin: 0
  position: absolute
  text-align: center
  transform: translate(0, -100%) 
  -webkit-transform: translate(0, -100%)
  top: -40px 
  width: 100% !important
  text-align: center
  display: block !important

.default-page-search-block-header
  margin-bottom: 40px

.default-page-search-block-content
  padding: 0 50px

.default-page-search-block-width
  width: 100% !important

.default-page-search-height
  height: 100%

.default-page-wrapper
  position: relative
