//$max-typeahead-list-height: 289px

$typeahead-scrollbar-move-delta: 30px //на сколько утащить скроллбар вправо



.typeahead-holder
  width: 100%

  //этот стиль если видно выпадающий лист
  //&.show-results


.typeahead-input
  padding: 5px
  width: 100%
  //если инпут в фокусе
  //&:focus
  //  background-color: red


//нужен чтобы скрыть настоящий скроллбар у typeahead-list
.typeahead-list-holder
  //width: 100%
  width: 900px
  overflow: hidden
  position: absolute
  //border: 1px solid #aaa
  background-color: #FFF
  border-bottom-left-radius: 8px
  border-bottom-right-radius: 8px


  -moz-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4)
  -webkit-box-shadow: 0 0 5px rgba(0, 0, 0, 0.4)
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.4)

  border-top: none
  margin-top: 0
  z-index: $typeahead-z-index - 1
  -webkit-touch-callout: none
  -webkit-user-select: none
  -khtml-user-select: none
  -moz-user-select: none
  -ms-user-select: none
  user-select: none


.typeahead-list
  box-sizing: content-box
  z-index: $typeahead-z-index
  background: white
  width: 100%
  margin: 0
  
  max-height: $max-typeahead-list-height
  overflow: auto
  padding: 0
  
  //скрипт завязан на relative
  position: relative
  &.custom_scroll
    padding-right: $typeahead-scrollbar-move-delta

//Ох еслиб у всех стоял хром
//.typeahead-list::-webkit-scrollbar
//  display: none


.typeahead-list-item
  font-size: 12px
  margin: 0 !important
  padding: 5px 10px
  cursor: pointer
  a
    color: gray
  &.active
    background: #dadada






