
$footer-height: 65px

//--------------------------------------------------------------
//z-index тайпахеда по умолчанию
$typeahead-z-index: 1000

//высота тайпахеда по умолчанию
$max-typeahead-list-height: 200px


//переменная разшарена с default_page.jsx
$default-page-input-padding: map-get($default-page, input-padding)

$search-page-input-left-padding: map-get($search-page, input-left-padding)
$search-page-input-right-padding: map-get($search-page, input-right-padding)
$search-page-border-width: map-get($search-page, border-width)

$search-page-map-height: map-get($search-page, map-height)
$search-page-map-header-height: map-get($search-page, map-header-height)


$search-page-left-block-width: map-get($search-page, left-block-width)
$search-page-main-fixed-top: map-get($search-page, search-page-main-fixed-top)

//scrollbar
$scrollbar-width: 18px


$scrollbar-custom-width: 18px
$scrollbar-custom-thumb-width: 14px
